
* Are there any errors in the logs?  Yes -> Fix them
